<div style="text-align:center;">
<%if @book.errors.any? %>
  <ul>
    <% @book.errors.full_messages.each do |msg| %>
      <%=msg %><br/>
    <% end %>
  </ul>
<%end %>
<%= form_with(model:@book ,local:true) do |book| %>
  <p>
    <%= book.label :Name ,'Name of the book' %><br/>
    <%= book.text_field :name%>
  </p>
  <p>
    <%= book.label :Authors,'Author(s)' %><br/>
    <%= book.text_field :authors%>
  </p>
  <p>
    <%= book.label :count %><br/>
    <%= book.number_field :count%>
  </p>
  <p><%= book.submit %></p>
<% end %>
</div>
