<h1 style="text-align: center;">All Books</h1>
<table style="margin-left:auto;margin-right: auto;">
  <thead>
  <tr>
    <th>Book name</th>
    <th>Author(s)</th>
    <th>Count</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @books.each do |book| %>
    <tr>
      <td><%=link_to book.name ,book%></td>
      <td><%= book.authors %></td>
      <td><%=book.count %></td>
      <td><%= link_to 'Update' ,edit_book_path(book) %></td>
    </tr>
  <% end %>
  </tbody>
</table><br/>
<p style="text-align: center"><%= link_to 'Add new book' ,new_book_path %></p>
<p style="text-align: center"><%= link_to 'home' ,root_path %></p>

