<div style="text-align:center;">
<h2><%="#{@book.name}"%> Book</h2>
<p>Title of the book : <%= @book.name %></p>
<p>Author(s) : <%= @book.authors %></p>
  <p>Count : <%= @book.count %></p>
  <p><%= link_to 'All books' ,books_path %></p>
  <p><%= link_to 'home' ,root_path %></p>
</div>