<div style="text-align: center">
<h1>Librarians list</h1>
<table style="margin-left:auto;margin-right: auto;">
  <thead>
  <tr>
    <th>Librarian name</th>
    <th>Email</th>
  </tr>
  </thead>

  <tbody>
  <% @librarians.each do |librarian| %>
    <tr>
      <td>
        <% if logged_in? && librarian==current_librarian %>
           <%=link_to librarian.name ,librarian%></td>
        <%else %>
          <%=librarian.name %>
        <%end %>
      <td><%= librarian.email %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<p><%= link_to 'Add member' ,new_member_path %></p>
<p><%= link_to 'All books' ,books_path %></p>
<p><%= link_to 'home' ,root_path %></p>
</div>
