<div style="text-align:center;">
<h2><%="#{@librarian.name} "%>profile</h2>
<p>Name: <%= @librarian.name %></p>
<p>Email: <%= @librarian.email %></p>
<p><%= link_to 'Add book' ,new_book_path %></p>
  <p><%= link_to 'logout' ,logout_path %></p>
<p><%= link_to 'home' ,root_path %></p>
</div>