<div style="text-align:center;">
  <h1><%="#{@member.name} "%>profile</h1>
  <p>Name: <%= @member.name %></p>
  <p><%= link_to 'All books' ,books_path %></p>
  <p><%= link_to 'logout' ,member_logout_path %></p>
  <p><%= link_to 'home' ,root_path %></p>
</div>