<div style="text-align:center;">
  <h1><%="#{@member.name} "%>profile</h1>
  <p>Name: <%= @member.name %></p>
<!--  <h2>All Books</h2>-->
<!--  <table style="margin-left:auto;margin-right: auto;">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>Book name</th>-->
<!--      <th>Author(s)</th>-->
<!--      <th>Count</th>-->
<!--      <th>Actions</th>-->
<!--    </tr>-->
<!--    </thead>-->

<!--    <tbody>-->
    <%# @books.each do |book| %>
<!--      <tr>-->
<!--        <td><%#=link_to book.name ,book%></td>-->
<!--        <td><%#= book.authors %></td>-->
<!--        <td><%#=book.count %></td>-->
<!--        <td><%#= link_to 'Update' ,edit_book_path(book) %></td>-->
<!--      </tr>-->
    <%# end %>
<!--    </tbody>-->
<!--  </table><br/>-->
<!--  <p><%#= link_to 'Borrow book' ,new_book_path %></p>-->
  <p><%= link_to 'All books' ,member_logout_path %></p>
  <p><%= link_to 'logout' ,member_logout_path %></p>
  <p><%= link_to 'home' ,root_path %></p>
</div>